body {
    text-align: center;
    background-color: #f7f8fc;
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: #333;
}
.alphabet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alphabet-btn {
    background: #4CAF50;
    color: white;
    padding: 15px;
    margin: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.alphabet-btn:hover {
    background: #45a049;
}
.alphabet-img {
    width: 500px;
    margin-top: 30px;
}
.back-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 20px 30px;
    border-radius: 10px;
}
